<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sakuban"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
>
    <application
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <provider
            android:name="db.DbAdapter"
            android:authorities="db" />

        <activity
            android:name="com.example.sakuban.SKBNActivity"
            android:label="@string/title_activity_skbn" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.sakuban.SKBNListActivity"
            android:label="@string/title_activity_skbnlist" >
        </activity>
        <activity
            android:name="com.example.sakuban.SKBNGraphActivity"
            android:label="@string/title_activity_skbngraph" >
        </activity>
        <activity
            android:name="com.example.sakuban.SKBANGraph2Activity"
            android:label="@string/title_activity_skbangraph2" >
        </activity>
        <activity
            android:name=".OUTPUTCountActivity"
            android:label="@string/title_activity_output" >
        </activity>
        <activity
            android:name=".SelectActivity"
            android:label="@string/title_activity_select" >
        </activity>
        <activity
            android:name=".OUTPUTFormActivity"
            android:label="@string/title_activity_outputform" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SAGYONoActivity"
            android:label="@string/title_activity_sagyono" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SAGYOCodeActivity"
            android:label="@string/title_activity_sagyocode" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>